@charset "utf-8"

* {
    margin: 0;
    padding: 0;
    ;
}

html,
body {
    height: 60vh;
    width: 100vw;
    margin: 0px;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 21px;
    width: 270px;
    height: 478px;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 307px;
    background: url(../imagens/frame-iphone.png) no-repeat;

}

section#redes-sociais>a>img {
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px black;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 4px solid white;
}